#background {
	width: 320px;
	height: 480px;
	position: absolute;	
	margin-left: auto;
	margin-right: auto;	
}
.bg_fundo {
	position: relative;
	clip: rect(auto, auto, auto, auto);
	background-color: #ffffff;
}
#store_logo {
	border-style: none;
	border-color: inherit; 
	border-width: 0; 
	position: relative;
	width: 71px; 
	height: 95px;
	right: auto;
	left: auto;
}
#video_area {
	width: 130px;
	height: 100px;
	position: relative;
	margin: 43px auto auto auto;
}
.clicker_fb, .clicker_tt {
	border: 0;
}
#top {
	position:relative;
	width: 320px;
	height: 71px;
}
#logo {
	position: relative;
	width: 71px;
	height: 95px;
	margin-right: auto;
	margin-left: auto;
	top: 20%;
}
#social_plugins {
	width: 84px;
	height: 16px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 20px;
}
img {
	position:relative;
	width:100%;
	height:100%
}
.button {
	position: relative;
	height: 16px;
	width: 42px;
	float: left;
}
#team_logo {
	position: relative;
	float: right;
	width: 42px;
	height: 31px;
	right: 3%;
	top: 20px;
}
#bd_logo {
	left: 0px; 
	top: 0px
}
#gradient {
	left: 0px; 
	top: 0px
}
#email_form {
	position:relative;
	margin-right: auto;
	margin-left: auto;
	width: 260px;
	height: 22px;
}
#end_email {
	width: 60%;
	position: relative;
	float: left;
	margin-right: 5%;
}
#submit_button {
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #999999;
}