vti_encoding:SR|utf8-nl
vti_author:SR|RODRIGO-XPS\\Rodrigo
vti_modifiedby:SR|RODRIGO-XPS\\Rodrigo
vti_timelastmodified:TR|21 Dec 2012 12:25:02 -0000
vti_timecreated:TR|17 Dec 2012 13:27:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|17 Dec 2012 16:15:49 -0000
vti_backlinkinfo:VX|mobile/mobile_index.html
vti_cacheddtm:TX|21 Dec 2012 12:25:02 -0000
vti_filesize:IR|1177
